{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload and Preview</title>
    <link rel="stylesheet" href="{% static 'css/uploadImg.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
            Signed in as <strong>{{ user.username }}</strong> and ID <strong> {{user.id}} </strong>.
    {% endif %}
    <hr>
    <h1>Image Upload and Preview</h1>
        
        {% if message %}
        <div style="color: red;">{{ message }}</div>
        {% endif %}

        <form id="imageForm" >
            {% csrf_token %}
            <label for="fileInput" class="uploadBtn">Add Images</label>
            <button type="button" id="SaveButton" class="uploadBtn">Upload and Remove Background </button>
            <input type="file" id="fileInput" name="image" accept=".jpeg, .png, .jpg " multiple  style="display:none;">
            <input type="hidden" name="csrfmiddlewaretoken" value="your-csrf-token-here">
            
            <div id="imageContainer"></div>
        </form>
    
    <script src="static/uploadImg.js"></script>
    <script src="static/handleImg.js"></script>
</body>
</html>